if ! has nix_direnv_version || ! nix_direnv_version 2.1.1; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.1.1/direnvrc" "sha256-b6qJ4r34rbE23yWjMqbmu3ia2z4b2wIlZUksBke/ol0="
fi

export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  local oldpath="$PATH"
  mkdir -p "$alias_dir"
  if ! [[ ":$PATH:" == *":$alias_dir:"* ]]; then
    PATH_add "$alias_dir"
  fi

  echo "#!/bin/sh" > "$target"
  echo "PATH=$oldpath" >> "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export_alias "build" "nimble build"
export_alias "run" "nimble build && $PWD/notify_tasks ~/NextcloudSync/obsidian https://ntfy.sh/test"

# using the flake causes source to be cached with direnv
use flake
